!!! 5
%html
  %head
    %title= "HAPPY BIRTHDAY MICKY"
    %meta{ :content => "", :name => "best gift ever" }
    %meta{ :content => "", :name => "Marc Dragunski, Matthias Pfeil" }
    %meta{ :content => "3 days", :name => "revisit-after" }
    %link{ :href => "favicon.ico", :rel => "shortcut icon"}
    %link{ :href => "assets/css/animate.min.css", :rel => "stylesheet" }
    %link{ :href => "assets/css/batman.css", :media => "screen", :rel => "stylesheet" }
  %body
    - @characters = ['batmanLogo']
    .gang.animated.rotateIn.infinite.animationDuration
      - @characters.each do |character|
        .container
          .character{:class=>"#{character}"}
    %div.filler
    %div.animated.flash
      %h1 HAPPY BIRTHDAY
      %br
      %a.button{:href=>'http://www.kettelerhof.de/', :target=>'_blank'} Get Gift
    - @characters = ['batman']
    .gang.animated.swing.infinite.animationDuration
      - @characters.each do |character|
        .container
          .character{:class=>"#{character}"}
    %audio{:src=>'assets/batman.mp4', :type=>'audio/mp4', :autoplay=>true, :loop=>true}