!!! 5
%html
  %head
    %title= "HAPPY BIRTHDAY"
    %meta{ :content => "", :name => "best gift ever" }
    %meta{ :content => "", :name => "Marc Dragunski, Matthias Pfeil" }
    %meta{ :content => "3 days", :name => "revisit-after" }
    %link{ :href => "favicon.ico", :rel => "shortcut icon"}
    %link{ :href => "assets/css/animate.min.css", :rel => "stylesheet" }
    %link{ :href => "assets/css/batman.css", :media => "screen", :rel => "stylesheet" }
  %body
    %div.animated.flash
      %h1 y0 Bitch happy birtday
      %br
      %button.button Get Voucher
    - @characters = ['batman']
    .gang.animated.swing.infinite
      - @characters.each do |character|
        .container
          .character{:class=>"#{character}"}